/* SVG home page */
body {
  margin: 0%;
  overflow-x: hidden;
  background: #d2ebf3;
}

svg > .rooms > .bedroom {
  width: 400px;
  height: auto;
  x: 100px;
  y: 100;
  cursor: pointer;
}
svg > .rooms > .kitchen {
  width: 250px;
  height: auto;
  x: 200px;
  y: 450;
  cursor: pointer;
}

svg > .rooms > .bathroom {
  width: 300px;
  height: auto;
  x: 1500px;
  y: 50;
  cursor: pointer;
}
svg > .rooms > .livingroom {
  width: 300px;
  height: auto;
  x: 1500px;
  y: 450;
  cursor: pointer;
}
.snif {
  width: 200px;
  y: 380px;
  x: 880px;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/* Home page to room animations */

@keyframes toroom {
  0% {
    transform: scale(1);
    offset-rotate: 0deg;
  }
  50% {
    transform: scale(1);
    offset-distance: 100%;

    offset-rotate: 0deg;
  }

  100% {
    offset-distance: 100%;
    offset-rotate: 0deg;
    transform: scale(0);
  }
}

@keyframes swall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
.room-icon {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: swall 1s infinite ease-in-out;
  cursor: pointer;
  pointer-events: painted;
}
.room-icon {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: swall 1s infinite ease-in-out;
}
.gotobathroom {
  offset-path: path("M 880 380 C 1200 80  1300 50  1680 180");
  animation: toroom 3s linear forwards;
}
.gotokitchen {
  offset-path: path("M 880 380 C 800 160  200 50  350 580");
  animation: toroom 3s linear forwards;
}
.gotobedroom {
  offset-path: path("M 880 380 C 1000 160  100 50  300 200");
  animation: toroom 3s linear forwards;
}
.gotolivingroom {
  offset-path: path("M 880 380 C 1200 160  1300 50  1680 580");
  animation: toroom 3s linear forwards;
}

/* Clipping path */

#ring {
  stroke: palevioletred;
  stroke-width: 4;
  cursor: pointer;
}

#ring {
  pointer-events: none;
}
#elements {
  pointer-events: painted;
}
#mask-ring {
  cursor: pointer;
}

/* Navigation */

i {
  color: #f07e31;

  font-size: 1.6rem;
  margin-left: 40px;
  cursor: pointer;
}
header > nav {
  display: flex;
  position: absolute;
  z-index: 100;
  width: 92%;
  top: 40px;
  justify-content: flex-end;
  max-width: 100%;
  box-shadow: white 5px;
}
.arrows {
  /* visibility: hidden; */
}

/* Home page */

#homepage {
  z-index: 2;
}
.levels {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*width: 100%;
  height: 100vh;*/
  position: absolute;
  top: 35vh;
  right: 25vw;
  z-index: 1;
}
.levels > .level {
  margin-bottom: 10px;
}
.level > a > button {
  background-color: transparent;
  color: black;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-weight: 100;
  padding: 5px 30px;
}

.level > a > button:hover {
  animation: swall 1s both ease-in-out;
  color: #f07e31;

  /* transform: scale(1.1); */
}
button:hover #fox {
  animation: levelFox 1s both ease-in-out;
  top: 30%;
  display: none;
}
.home {
  position: absolute;
}
#snif-home {
  width: 25vw;
  top: 15%;
  left: 20%;
  height: auto;
}
#name-home {
  width: 30vw;
  top: 5%;
  left: 40%;
  transform: rotate(-25deg);
}
#el-home {
  width: 35vw;
  top: 50%;
  left: -5%;
  animation: bloob 5s infinite 4s ease-in-out;
}
#heat-home {
  width: 25vw;
  top: 60%;
  left: 25%;
  animation: bloob 4s infinite 3s ease-in-out;
}
#light-home {
  width: 40vw;
  top: 50%;
  left: 47%;
  animation: bloob 5s infinite 2s ease-in-out;
}
#water-home {
  width: 20vw;
  top: 65%;
  left: 82%;
  animation: bloob 4s infinite 1s ease-in-out;
}
@keyframes bloob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes levelFox {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(180%);
  }
}

header > .points {
  height: auto;
  width: 100vw;
  padding-top: 20px;
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  z-index: 100;
}

.p-el,
.p-heat,
.p-light,
.p-water {
  height: 50px;
  width: 47px;
  position: relative;
  display: inline-flex;
  background-repeat: no-repeat;
  margin: 0 2px;
}
.p-el {
  background-image: url("assets/points/icons-11.svg");
}
.p-heat {
  background-image: url("assets/points/icons-12.svg");
}
.p-light {
  background-image: url("assets/points/icons-13.svg");
}
.p-water {
  background-image: url("assets/points/icons-14.svg");
}
.e-circle,
.h-circle,
.l-circle,
.w-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 0;
  background-color: red;
}
p {
  color: white;
  margin: 0;
  font-size: 10px;
  text-align: center;
  padding: 3px 0;
}

.hidden {
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  visibility: hidden;
}

.hide {
  display: none;
}
