main > #rooms{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: -1;
    
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem; */
  /* padding: 5%; */
  align-items: center;

  
  
}
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    justify-content: center;

}
.room > img{
    
    width: 200px;
    height: auto;
    padding: 5%;
    cursor: pointer;
    
    
}
.room{
    
    justify-self: center;
}
.room:first-child> img{
    grid-column-start: 1;
    grid-row-start: 1;

}
.room:nth-child(2){
    grid-column-start: 2;
    grid-row-start: 1;

}
.room:nth-child(2) img{
    width: 150px;

}
.room:nth-child(3){
    grid-column-start: 1;
    grid-row-start: 2;

}
.room:nth-child(4){
    grid-column-start: 2;
    grid-row-start: 2;

}
