

/* SVG home page */

svg>.rooms> .bedroom{
    width: 400px;
    height: auto;
    x: 100px;
    y: 100;
    cursor: pointer;
}
svg > .rooms> .kitchen{
    width: 250px;
    height: auto;
    x: 200px;
    y: 450;
    cursor: pointer;
}
svg > .rooms> .bathroom{
    width: 300px;
    height: auto;
    x: 1500px;
    y: 50;
    cursor: pointer;
}
svg > .rooms>.livingroom{
    width: 300px;
    height: auto;
    x: 1500px;
    y: 450;
    cursor: pointer;
} 
svg> .snif{
   width: 250px;
   x:65vw;
   y: 50vh;

}